<header class="h-screen w-full relative flex items-center">
  <div class="overlay h-full w-full bg-black-500 absolute"></div>
  <div class="header-text container mx-auto px-6 text-center md:text-left">
    <h1 class="text-white text-6xl font-bold">New to Voyager</h1>
    <p
      class="text-white text-base mt-8 px-4 md:px-0 text-center md:text-left md:w-3/4 lg:w-1/2"
    >
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s
    </p>
    <button
      class="bg-purple-600 hover:bg-purple-700 focus:outline-none text-white px-8 py-3 mt-10 w-40 rounded"
    >
      Explore Now
    </button>
  </div>
</header>

<section class="bg-yellow-200">
  <div class="container mx-auto text-2xl text-gray-700 py-12">
    <i class="fas fa-exclamation-triangle"></i>
    Important Warning: Never look at the sun with any optical instrument that is
    not equipped with professional, properly installed aperture side solar
    filters. Concentrated sunlight will cause severe and permanent eye injury.
  </div>
</section>
